body{
    background-color: #382F26;
    margin: 50px 80px 50px 80px;
}

header{
    font-family: 'Libre Baskerville', serif;
    color: #CC8F46;
    text-decoration: none;

}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;
    padding: 0 20px 0 20px;
  }

.cim{
    font-size: 130px;
    padding-top: 20px;
}

.line{
    padding-bottom: 25px;
}

.vg{
    padding-top: 20px;
}

.museum{
    color: antiquewhite;
    font-size: 130px;
    padding-top: 90px;
}

.history{
    color:#CC8F46;
    font-size: 130px;
}
